@import "~styles/utils";

div.navbar-component {
  background-color: #fff;
  padding: 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 6px 0px;
  z-index: 10;
}

p.navbar-title{
  color: #6b7c93;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

img.logo-idrac {
  height: 50px;
}

img.navnar-RS {
  height: 30px;
}

h1.website-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgba(181, 12, 21, .85);
  font-size: 1.5em;
  letter-spacing: .20em;
  margin: 0px;
  padding: 0px;
}

div.main-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .picture {
    margin-right: 10px;
  }

  .text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img.picture-logo {
  margin: 0px;
  padding: 0px;
  height: 40px;
}

p.logo-subtitle {
  font-size: .75em;
  margin: 5px;
  padding: 0px;
}