@import "~styles/utils";

div.sidebar-component {
  width: 250px;
  height: 100%;
  background-color: color(noir-clair);
  flex-shrink: 0;
  padding: 25px 25px;
}

h2.sidebar-title {
  margin: 0px 0px 10px 0px;
}